<h1 class="highlight">Forgot Password</h1>
<div class="container mt-5">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email" required>
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Enter a valid email address.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
  </form>
</div>
