<nav class="navbar navbar-expand-lg navbar-light ">
    <!-- <a class="navbar-brand" href="#">Elevate Local</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="#navbarNav" 
            aria-controls="navbarNav"
            aria-expanded="false" 
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item d-inline">
                <button class="nav-link btn" (click)="navigateTo('home')">Home</button>
            </li>
            <li class="nav-item d-inline">
                <button class="nav-link btn" (click)="navigateTo('explore')">Explore</button>
            </li>
            <li class="nav-item d-inline">
                <button class="nav-link btn" (click)="navigateTo('offers')">Offers</button>
            </li>
            <li class="nav-item d-inline">
                <button class="nav-link btn" (click)="navigateTo('events')">Events</button>
            </li>
            <li class="nav-item d-inline">
                <button class="nav-link btn" (click)="navigateTo('login')">Login</button>
            </li>
            <li class="nav-item d-inline">
                <button class="nav-link btn" (click)="navigateTo('signup')">Sign Up</button>
            </li>
        </ul>
    </div> -->
</nav>
<div class="container">
   
    <header class="header">
        <h1>Welcome to Elevate Local !!</h1>
        <!-- <img src="pic.jpg" style="width: 50%; height: fit-content;"/> -->
        <p>Digitalising Local Businesses...</p>
    </header>
   
    <!-- <section class="features">
        <div class="feature-card">
            <h2>Explore</h2>
            <p>Find Your Favourites..</p>
            <button (click)="navigateTo('explore')">Explore</button>
        </div>

        <div class="feature-card">
            <h2>Offers</h2>
            <p>Sales Sales Sales ...</p>
            <button (click)="navigateTo('offers')">Offers</button>
        </div>

        <div class="feature-card">
            <h2>Events</h2>
            <p>Participate-Fun-WinCash Prizes</p>
            <button (click)="navigateTo('events')">Events</button>
        </div>
    </section> -->

</div>