.form-group {
  margin-bottom: 1rem;
}

.text-danger {
  font-size: 0.875rem; /* Smaller font size for error messages */
}

/* Optional: adjust button styles */
.btn-primary {
  width: 100%; /* Full width button */
}

.highlight{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 20px;
}

.container{
  font-family: 'Times New Roman', Times, serif;
  /* background:linear-gradient(lightgreen,lightyellow); */
  background-repeat: no-repeat;
  background-attachment: fixed;

}
